body{
    background: #BDBDBD;
}

.wrapper {
    object-fit: cover;
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #jumbotron-h1 {
    font-size: 120px;
  }

  #jumbotron-h2 {
    font-size: 70px;
  }

  .inner-wrapper {
    position: relative;
    margin-bottom: 12%;
  }